
.cart{float:left; margin-left:10px;}

span:first-child {width:100px; margin-left:20px; display:inline-block; font-family: 'Trebuchet MS'; font-size:15px; }

span.has-error {color: red; min-width:70px; display:inline-block; width:auto; }

span:nth-child(4) {font-family: 'Trebuchet MS';
font-weight:bold;
}

button{ margin-left:10px;}

.your-purchases{ clear: both; }

.purchased-order {
	border: 2px solid #ccc;
	margin-top: 30px;
}
.purchased-order .summary-title{
	display: inline-block;
}
.purchased-order table{
	border: 1px solid black;
}
.purchased-order table, .purchased-order th, .purchased-order td {
   border: 1px solid black;
}
.purchases-wrapper {
	margin-top: 30px;
}

.cart{
	border: 2px solid #ccc;
	float: none;
}
.save-wrapper{
	text-align: center;
}
.save-wrapper button{
	min-width: 100px;
}
.error-msg span:nth-child(3){
	color: red;
}
div.confirm{
	text-align: center;
}
.shopping-wrapper{
	min-height: 250px;
}