
.cart{float:left; margin-left:10px;}

span:first-child {width:100px; margin-left:20px; display:inline-block; font-family: 'Trebuchet MS'; font-size:15px; }

span:nth-child(3) {color: blue; min-width:70px; display:inline-block; width:auto; }

span:nth-child(4) {font-family: 'Trebuchet MS'; 
font-weight:bold;
}

button{ margin-left:10px;}

