<div class="shopping-wrapper row">
    <h2>YOUR SHOPPING CART</h2>
    <div ng-controller='CartController as cartList' class='cart' ng-show="cartList.items.length">
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cartList.items track by $index">
                    <td>{{ item.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price | currency}}</td>
                    <td>{{ item.price * item.quantity | currency }}</td>
                    <td><button ng-click="cartList.remove($index, item)" class="button alert">Remove</button></td>
                </tr>
                <tr>
                    <td><strong>Cart total</strong></td>
                    <td></td>
                    <td></td>
                    <td>{{ cartList.cart_total | currency}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="confirm"><button ng-click="cartList.confirmOrder($event, cartList.items)" class="button">Confirm</button></div>
    </div><!-- .cart -->
    </div><!-- .shopping-wrapper -->